<div id="header2" class="sign">
    <div class="curtain">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column justify-content-center">
                    <h2 class="header-title text-center mb-3 display-4 fw-bolder">Ro'yxatdan o'tish</h2>
                    <p class="header-text text-center mb-0 fw-bold">
                        Asosiy <i class="bi bi-arrow-right-short"></i> Ro'yxatdan o'tish
                    </p>
                </div>
            </div>
            <div class="row gx-md-3 gx-lg-5">
                <div class="col-md-4 mb-4 mb-md-0">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3071.7435149826483!2d66.9621108152332!3d39.655486479460905!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4d193a6ebe860b%3A0xde269b298b6e00f1!2sBuyuk%20Bilim!5e0!3m2!1suz!2s!4v1652929213961!5m2!1suz!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="col-md-8">
                    <form action="/auth/register" method="POST">
                        <div class="form-area d-flex flex-column">
                            <input type="text" name="username" placeholder="Ismingiz" class="mb-4">
                            <input type="text" name="phone" placeholder="Telefon raqamingiz" class="mb-4" value="+998">
                            <input type="text" name="subject" placeholder="Fanni kiriting" class="mb-4">
                            <button type="submit">Ro'yxatdan o'tish</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>