<!-- HOME SECTION -->
<div id="header2">
    <div class="curtain">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 d-flex flex-column justify-content-center">
                    <h2 class="header-title text-center mb-3 display-4 fw-bolder">Biz haqimizda</h2>
                    <p class="header-text text-center mb-0 fw-bold">
                        Asosiy <i class="bi bi-arrow-right-short"></i> Biz haqimizda
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- ABOUT SECTION -->
<section id="about">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-6 mb-4 mb-lg-0 px-5"  data-aos="fade-up" data-aos-duration="1100">
                <img class="w-100" src="./img//about/diz3.png" alt="About rasmi" />
            </div>
             <div class="col-lg-6">
                <h2 class="mb-3 mb-sm-4">Biz haqimizda</h2>
                <p class="mb-4 mb-sm-5 text">Markazimiz o'z faoliyatini 2019-yilda boshlagan. Hozirgacha yuqori malakali ustozlar va uzoq yillik tajribaga ega hodimlar bilan faoliyat ko'rsatib kelmoqda:</p>
                <div class="about-box mb-4 d-flex justify-content-between align-items-center" data-aos="fade-up" data-aos-delay="0" data-aos-duration="1000">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="bi bi-lightning-charge-fill"></i>
                    </div>
                    <div class="info-text">
                        <h5>Maqsadimiz</h5>
                        <p class="mb-0">Har bir o'quvchimizda eng yaxshi natija ko'rsatish va buyuk insonlar yetishtirish.</p>
                    </div>
                </div>
                <div class="about-box mb-4 d-flex justify-content-between align-items-center" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="bi bi-ui-checks"></i>
                    </div>
                    <div class="info-text">
                        <h5>Imkoniyatlar</h5>
                        <p class="mb-0">Samarqandda eng kuchli o'qituvchilar dars beradigan o'quv markazlardan biri.</p>
                    </div>
                </div>
                <div class="about-box d-flex justify-content-between align-items-center" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <i class="bi bi-gem"></i>
                    </div>
                    <div class="info-text">
                        <h5>Natijalar</h5>
                        <p class="mb-0">2021-yil 100% o'qishga kirgan guruhlarimiz bor va umumiy o'quv markazimiz natijasi 79% dan yuqori.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- RESULT SECTION -->
<section id="result" class="py-5">
    <div class="container py-4">
        <div class="row">
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-4 mb-lg-0">
                <div class="cart text-center p-4">
                    <img src="./img/work/12.png" alt="icon-1">
                    <h3 class="my-3">20</h3>
                    <p class="mb-0">O'qituvchilar</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-4 mb-lg-0">
                <div class="cart text-center p-4">
                    <img src="./img/work/15.png" alt="icon-1">
                    <h3 class="my-3 number-result">300+</h3>
                    <p class="mb-0">Ta'lim oluvchilar</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-4 mb-lg-0">
                <div class="cart text-center p-4">
                    <img src="./img/work/14.png" alt="icon-1">
                    <h3 class="my-3">14</h3>
                    <p class="mb-0">Umumiy kurslar</p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 mb-3 mb-sm-4 mb-lg-0">
                <div class="cart text-center p-4">
                    <img src="./img/work/13.png" alt="icon-1">
                    <h3 class="my-3">1000+</h3>
                    <p class="mb-0">Bitiruvchilar</p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- QUESTIONS SECTION -->
<section id="questions">
    <div class="container py-5">
        <div class="row pb-3">
            <div class="col-lg-12 text-center title-text">
                <h2 class="display-6 text-capitalize title-h2">Savollar</h2>
                <p class="mb-0">Quyida bizga eng ko'p beriladigan savollar keltirilgan</p>
                <!-- <div class="line"></div> -->
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div>
                    <div class="col-btn" data-bs-toggle="collapse" data-bs-target="#question-1" aria-expanded="false" aria-controls="question-1">
                        O'quv markazning manzili qayerda?
                    </div>
                    <div class="collapse" id="question-1">
                        <div class="card card-body">
                            <span><b>Manzil: </b>Samarqand shaxar, Ko'ksaroy maydoni 1-uy, 1-qavat. <br>
                            <b>Mo'ljal: </b>Viloyat hokimiyati, 14 qavatli "Biznes center" markazi.</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-btn" data-bs-toggle="collapse" data-bs-target="#question-2" aria-expanded="false" aria-controls="question-2">
                        Kompyuter kurslari bormi?
                    </div>
                    <div class="collapse" id="question-2">
                        <div class="card card-body">
                            Albatta, markazimizda kompyuter kurslari tashkil etilgan va siz bu kurslarda shaxsiy 
                            kompyuter haqida to'liq bilimlarga ega bo'lishingiz mumkin. 
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-btn" data-bs-toggle="collapse" data-bs-target="#question-3" aria-expanded="false" aria-controls="question-3">
                        Filiallar ham tashkil etilganmi?
                    </div>
                    <div class="collapse" id="question-3">
                        <div class="card card-body">
                            Faoliyatimiz yuqori tezlikda kengayib borayotganligi sababli, hozirgacha 2ta filialimiz tashkil etilgan bo'lib, 
                            birinchisi Samarqand shaxar "Pavarod" mavzesida, ikkinchisi "Registon ansambili" yaqinida
                            (Arog'zavod chorraxasida).
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-btn" data-bs-toggle="collapse" data-bs-target="#question-4" aria-expanded="false" aria-controls="question-4">
                        Kurslarga necha yoshdan yozilish mumkin?
                    </div>
                    <div class="collapse" id="question-4">
                        <div class="card card-body">
                            <span>Bu qaysi kursga yozilishingizga bog'liq. Umumiy holatda kurslarimizga yozilish mumkin bo'lgan eng 
                            kichik yosh chegarasi <b>6 yosh</b> qilib belgilangan.</span>
                        </div>
                    </div>
                </div>
                <div>
                    <div class="col-btn" data-bs-toggle="collapse" data-bs-target="#question-5" aria-expanded="false" aria-controls="question-5">
                        Biror kursni tanlasam, uning sifatini qanday bilsam bo'ladi?
                    </div>
                    <div class="collapse" id="question-5">
                        <div class="card card-body">
                            <span>Markazimizda barcha kurslarning birinchi darsi tekin bo'lib, siz ushbu dars orqali dars sifati va kurs 
                                mentori haqida to'liq ma'lumotlarga ega bo'lishingiz mumkin.</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>